<article class="post post-multiple">
  <div class="image">
    <a href="{{ .Permalink }}">
      <div class="img" style="background: url('{{ .Site.BaseURL }}/images/{{ .Params.postmedia }}') center / cover"></div>
      <div class="mask">
        Read more
      </div>
    </a>
  </div>
  <div class="post-box">
    <header class="post-header">
      <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div class="post-meta">
        <div class="post-reading-time"><i class="small clock icon"></i><span>{{ .ReadingTime }} min</span></div>
      </div>
    </header>
    <div class="post-content">
      <p>{{ .Summary }}</p>

      <div class="post-tags">
        {{ range .Params.tags }}
        <div class="ui tag label">{{.}}</div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="post-footer-wrapper">
    <div class="post-footer">
      <div class="post-footer-left">{{ .Date.Format .Site.Params.DateForm }}</div>
      <div class="post-spacer"></div>
      <div class="post-footer-right">{{ index .Site.Author "kdar" }}</div>
    </div>
  </div>
</article>
