{{ partial "header.html" . }}

<div class="single-post-container inner">
  <article class="post post-single">
    <div class="post-media">
      <img src="{{ .Site.BaseURL }}/images/{{ .Params.postmedia }}" alt="{{ .Title }}">
    </div>

    <div class="post-box">
      <header class="post-header">
        <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="post-meta">
          <div class="post-reading-time"><i class="small clock icon"></i><span>{{ .ReadingTime }} min</span></div>
        </div>
      </header>
      <div class="post-content">
        <p>{{ .Content }}</p>

        <div class="post-tags">
          {{ range .Params.tags }}
          <div class="ui tag label">{{.}}</div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="post-footer-wrapper">
      <div class="post-footer">
        <div class="post-footer-left">{{ .Date.Format .Site.Params.DateForm }}</div>
        <div class="post-spacer"></div>
        <div class="post-footer-right">{{ index .Site.Author "kdar" }}</div>
      </div>
    </div>

    <!-- <aside>
      <div class="post-share">
        <h3>Share</h3>
        <a id="share-fb" href="http://www.facebook.com/sharer.php?src=bm&u={{ .Permalink }}&t={{ .Title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><img src="{{ .Site.BaseURL }}/images/sharebutton/facebook.png" alt="Facebook"/></a>
        <a id="share-twitter" href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><img src="{{ .Site.BaseURL }}/images/sharebutton/twitter.png" alt="Twitter"/></a>
        <a id="share-googleplus" href="https://plus.google.com/share?url={{ .Permalink }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><img src="{{ .Site.BaseURL }}/images/sharebutton/googleplus.png" alt="Google+"/></a>
        <a id="share-hatena" href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><img src="{{ .Site.BaseURL }}/images/sharebutton/hatena.png" alt="Hatena"/></a>
        <a id="share-pocket" href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><img src="{{ .Site.BaseURL }}/images/sharebutton/pocket.png" alt="Pocket"/></a>
      </div>
    </aside> -->
  </article>

  <!-- Pagination. -->

  <div class="prevnext">
    {{ if .Prev }}
    <a href="{{ .Prev.Permalink }}" class="ui left labeled icon button violet prev">
      <i class="left arrow icon"></i>
      {{ .Prev.Title }}
    </a>
    {{ end }}
    {{ if .Next }}
    <a href="{{ .Next.Permalink }}" class="ui right labeled icon button blue next">
      <i class="right arrow icon"></i>
      {{ .Next.Title }}
    </a>
    {{ end }}
  </div>

  <footer>
    {{ if .Site.Params.ShowRelatedPost }}
    <!-- Related post. -->

    {{ $baseurl := .Site.BaseURL }}
    <div class="post-related">
      <h3>Related Post</h3>
      <!-- <ul class="post-tags">
        {{ range .Params.tags }}
        <li>
          <a href="{{ $baseurl }}/tags/{{ . | urlize }}">
            <i class="fa fa-tags"></i>
            {{ . }}
          </a>
        </li>
        {{ end }}
      </ul> -->

      <ul>
        {{ $page_link := .Permalink }}
        {{ $tags := .Params.tags }}
        {{ range .Site.Pages }}
        {{ $page := . }}
        {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
        {{ if and $has_common_tags (ne $page_link $page.Permalink) }}
        <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </footer>

  <div class="comments-area">
    <h3 class="comments-title">Comments</h3>
    {{ template "_internal/disqus.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
