<div id="masthead">
  <div class="ui vertical masthead center aligned segment">
    <div class="ui container menu-wrapper">
      <div class="ui large inverted secondary pointing menu">
        <a class="header item" href="{{ .Site.BaseURL }}">
          <img src="{{ "/images/layout/kdar-logo-white.png" | absURL }}">
        </a>
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        {{partial "menu" .}}
        <div class="right item">
          <a class="ui inverted blue button" href="https://github.com/{{ .Site.Params.Github }}">Github</a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        {{.Site.Title}}
      </h1>
      <h2 class="ui inverted header"></h2>
    </div>
  </div>
</div>
